{% extends "base.html.twig" %}
{% block content %}
    <h3>Hello Word</h3>
    <table>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.f_name }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}